<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>My blog</title>
</head>
<body>
    <div>
        <h1><a href="/">My blog</a></h1>
    </div>

    <div>
        <p>published: 20.01.2022, 15:54</p>
        <h2><a href="">My first post</a></h2>
        <p>Сегодня утром я скушал сэндвич, но не наелся.</p>
    </div>

    <div>
        <p>published: 20.01.2022, 15:56</p>
        <h2><a href="">My second post</a></h2>
        <p>Позже я сел заниматься програмированием.</p>
    </div>
</body>
</html>